body{
    font-family: 'Arimo', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Sans Pro', sans-serif;
}
header{
    padding-left: 10%;
    padding-top: 2%;
}

article{
    display: flex;
}
h1{
    font-size: 50px;
}

.article-hade{
    padding-left: 10%;
    width: 50%;
}
.preebook-now-button{
    text-decoration: none;
    color: white;
    background-color: rgb(223, 20, 121);
    padding: 6px 20px;
    border-radius: 15px;
}

    
