body{
    font-family: 'Arimo', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Sans Pro', sans-serif;
}
/************
       header arier 
          ***********/
header{
    padding-left: 10%;
    padding-top: 2%;
}

article{
    display: flex;
}
h1{
    font-size: 50px;
}

.article-hade{
    padding-left: 10%;
    width: 50%;
}
.preebook-now-button{
    text-decoration: none;
    color: white;
    background-color: rgb(223, 20, 121);
    padding: 6px 20px;
    border-radius: 15px;
}


/************* compani-logos
                        **************/


div ul {
  display: flex;
  list-style-type: none;
  
  
   
}
div ul li{
    padding: 10px 20px 10px 60px;
    text-decoration: none;
}  
.compani-logos{
    align-items: center;
} 

/**********
 compani-logos done 
 ***********/
 .populer-colection-hade{
    text-align: center;
 }
 .populer-colection-body{
     
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     padding-left: 100px;

 }
 .star-reating{
     display: flex;
 }
 .fa-star{
     color:orange;
 }
 .poouler-conten{
    width: 300px;
    height: 400px;
   
    padding: 20px 5px;
    justify-content: space-between;
 }
 .see-more-battoms{
     padding-left: 1150px;
 }

 #see-more-battom{
     
     text-decoration-line: none;
     color:rgb(223, 20, 121) ;
 }

 /* Featured products */


 .Featured-products{
     display: flex;
     padding-left: 100px;

 }
 .featured-detalse{
     padding-left: 100px;
     
 }
 .featured-detalse > h2{
     font-size: 30px;
 }
 .join-now-batton{
    text-decoration: none;
    color: white;
    background-color: rgb(223, 20, 121);
    padding: 6px 30px;

 }
